h1{
    text-align: center;
    padding-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:greenyellow;
}
body{
    background-color: crimson;
}
.birth{
    text-align: center;
}
label{
    display: block;
    font-size: larger;
    font-family: cursive;
    padding-bottom: 20px;
    color:antiquewhite;
    padding-top: 20px;
}
input{
    padding: 10px 40px 4px 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    border: transparent;
    border-radius: 1em;
    font-size: larger;
    
}
button{
    display: block;
    margin: auto;
    margin-top: 30px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    padding: 8px 20px 8px 20px;
    background: transparent;
    border-radius: 1em;
    border-color: black;
    cursor: pointer;
}
#conclusion{
    font-weight: bolder;
    color: greenyellow;
    font-size: larger;
    font-family: cursive;
}
.fa {
    padding: 20px;
    font-size: 60px;
    width: 80px;
    text-align: center;
    text-decoration: none;
  }
  
  
  .fa:hover {
    opacity: 0.7;
  }
  
  
  .fa-github {
    background:  #000000;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin{
    background: #007bb5;
    color:white;
  }
  footer{
      
      margin-top: 100px;
      text-align: center;
      color: #f2f2f2;
      padding-top: 20px;
      padding-bottom: 30px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  footer a{
      margin-right: 30px;
      
  }
  footer h3{
      padding-bottom: 20px;
  }